APP_NAME="GPS Core"
APP_ENV=local
APP_KEY=base64:2tZrOgCB40k9P8mPglnL+9O/7r9ommcrfkrt52eozOA=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=auth_db

# ========================
# DB on localhost
# ========================

#AUTH_DB_HOST=127.0.0.1
#AUTH_DB_PORT=3306
#AUTH_DB_DATABASE=auth_db
#AUTH_DB_USERNAME=root
#AUTH_DB_PASSWORD=iahcchai
#
#GPS5_DB_HOST=127.0.0.1
#GPS5_DB_PORT=3306
#GPS5_DB_DATABASE=gps_db5
#GPS5_DB_USERNAME=root
#GPS5_DB_PASSWORD=iahcchai
#
#GPS10_DB_HOST=127.0.0.1
#GPS10_DB_PORT=3306
#GPS10_DB_DATABASE=gps_db10
#GPS10_DB_USERNAME=root
#GPS10_DB_PASSWORD=iahcchai
#
#GPS13_DB_HOST=127.0.0.1
#GPS13_DB_PORT=3306
#GPS13_DB_DATABASE=gps_db13
#GPS13_DB_USERNAME=root
#GPS13_DB_PASSWORD=iahcchai
#
#GPS14_DB_HOST=127.0.0.1
#GPS14_DB_PORT=3306
#GPS14_DB_DATABASE=gps_db14
#GPS14_DB_USERNAME=root
#GPS14_DB_PASSWORD=iahcchai
#
#GPS16_DB_HOST=127.0.0.1
#GPS16_DB_PORT=3306
#GPS16_DB_DATABASE=gps_db16
#GPS16_DB_USERNAME=root
#GPS16_DB_PASSWORD=iahcchai
#
#GPS19_DB_HOST=127.0.0.1
#GPS19_DB_PORT=3306
#GPS19_DB_DATABASE=gps_db19
#GPS19_DB_USERNAME=root
#GPS19_DB_PASSWORD=iahcchai
#
#GPS20_DB_HOST=127.0.0.1
#GPS20_DB_PORT=3306
#GPS20_DB_DATABASE=gps_db20
#GPS20_DB_USERNAME=root
#GPS20_DB_PASSWORD=iahcchai
#
#GPS21_DB_HOST=127.0.0.1
#GPS21_DB_PORT=3306
#GPS21_DB_DATABASE=gps_db21
#GPS21_DB_USERNAME=root
#GPS21_DB_PASSWORD=iahcchai


# ========================
# DB on remote ssh tunnel
# ========================

AUTH_DB_HOST=127.0.0.1
AUTH_DB_PORT=7310
AUTH_DB_DATABASE=auth_db
AUTH_DB_USERNAME=myroot
AUTH_DB_PASSWORD=Gpsthaistar10@2026!

GPS5_DB_HOST=127.0.0.1
GPS5_DB_PORT=7305
GPS5_DB_DATABASE=gps_db
GPS5_DB_USERNAME=myroot
GPS5_DB_PASSWORD=Gpsthaistar5@2026!

GPS10_DB_HOST=127.0.0.1
GPS10_DB_PORT=7310
GPS10_DB_DATABASE=gps_db
GPS10_DB_USERNAME=myroot
GPS10_DB_PASSWORD=Gpsthaistar10@2026!

GPS13_DB_HOST=127.0.0.1
GPS13_DB_PORT=7313
GPS13_DB_DATABASE=gps_db
GPS13_DB_USERNAME=myroot
GPS13_DB_PASSWORD=Gpsthaistar13@2026!

GPS14_DB_HOST=127.0.0.1
GPS14_DB_PORT=7314
GPS14_DB_DATABASE=gps_db
GPS14_DB_USERNAME=myroot
GPS14_DB_PASSWORD=Gpsthaistar14@2026!

GPS16_DB_HOST=127.0.0.1
GPS16_DB_PORT=7316
GPS16_DB_DATABASE=gps_db
GPS16_DB_USERNAME=myroot
GPS16_DB_PASSWORD=Gpsthaistar16@2026!

GPS19_DB_HOST=127.0.0.1
GPS19_DB_PORT=7319
GPS19_DB_DATABASE=gps_db2
GPS19_DB_USERNAME=myroot
GPS19_DB_PASSWORD=Gpsthaistar19@2026!

GPS20_DB_HOST=127.0.0.1
GPS20_DB_PORT=7320
GPS20_DB_DATABASE=gps_db2
GPS20_DB_USERNAME=myroot
GPS20_DB_PASSWORD=Gpsthaistar20@2026!

GPS21_DB_HOST=127.0.0.1
GPS21_DB_PORT=7321
GPS21_DB_DATABASE=gpsdb
GPS21_DB_USERNAME=myroot
GPS21_DB_PASSWORD=Gpsthaistar21@2026!

# ========================
# SESSION / CACHE
# ========================
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120

# ========================
# QUEUE
# ========================
QUEUE_CONNECTION=sync

# ========================
# FRONTEND (Vue Dev)
# ========================
FRONTEND_URL=http://127.0.0.1:5173


#REDIS_CLIENT=phpredis

#REDIS_PREFIX=
#REDIS_CLIENT=predis
#REDIS_HOST=127.0.0.1
#REDIS_PASSWORD=GpsPushRedis@2026
#REDIS_PORT=6379
#REDIS_DB=0
#REDIS_CACHE_DB=1

REDIS_CLIENT=predis
REDIS_PREFIX=
REDIS_PASSWORD=GpsPushRedis@2026

REDIS_GPS5_HOST=127.0.0.1
REDIS_GPS5_PORT=7405

REDIS_GPS10_HOST=127.0.0.1
REDIS_GPS10_PORT=7410

REDIS_GPS13_HOST=127.0.0.1
REDIS_GPS13_PORT=7413

REDIS_GPS14_HOST=127.0.0.1
REDIS_GPS14_PORT=7414

REDIS_GPS16_HOST=127.0.0.1
REDIS_GPS16_PORT=7416

REDIS_GPS19_HOST=127.0.0.1
REDIS_GPS19_PORT=7419

REDIS_GPS20_HOST=127.0.0.1
REDIS_GPS20_PORT=7420

REDIS_GPS21_HOST=127.0.0.1
REDIS_GPS21_PORT=7421

REDIS_DB=0
REDIS_CACHE_DB=1



#GPS20_REDIS_PREFIX=
#GPS20_REDIS_CLIENT=predis
#GPS20_REDIS_HOST=202.129.206.54
#GPS20_REDIS_PASSWORD=GpsPushRedis@2026
#GPS20_REDIS_PORT=6379
#GPS20_REDIS_DB=0
#GPS20_REDIS_CACHE_DB=1
